<!doctype html>
<html>

   <body>

   <center>
      <header> <h1> This page lists the Database records </h1>
      </header>
      <br> <br>
      <table border = 1>
         
         <img src="static/bear.jpg"><h1>Bear chasing a bicycle</h1>
         <img src="static/brain.jpg"><h1>Brains For Sale, Cheap</h1>
         <img src="static/darwin.jpg"><h1>Darwin lost in a store</h1>
         <img src="static/lopburi.jpg"><h1>Lopburi Festival in Lopburi</h1>
         <img src="static/monkey.jpg"><h1>Calculating grades for class</h1>
         <img src="static/smoot.jpg"><h1>Nobel in Physics not Computer Science</h1>
      </table>

      <br>
      <h2> <a href = "/">Home</a> </h2>
   </body>
</html>